@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica/HelveticaNeueLTStd-LtEx.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica/HelveticaNeueLTStd-HvEx.otf");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica/HelveticaNeueLTStd-ThEx.otf");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica/HelveticaNeueLTStd-MdEx.otf");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica/HelveticaNeueLTStd-Ex.otf");
    font-weight: 600;
    font-style: normal;
  }
}
* {
  box-sizing: border-box;
  /* font-family: HelveticaNeue; */
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
div {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  overflow-x: hidden;
}
html,
body {
  background: #130f40;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.h1-text {
  font-size: clamp(1.25rem, 1vw + 1rem, 1.875rem);
}
.p-tiny-text {
  font-size: clamp(0.625rem, 0.5vw + 0.5rem, 1.25rem);
  /* text-align: justify; */
}
.p-text {
  font-size: clamp(1rem, 0.1vw + 0.9rem, 1.5rem);
  /* font-size: clamp(1rem, 0.4vw + 0.9rem, 1.875rem); */
  text-align: justify;
}
.h4-text {
  font-size: clamp(0.938rem, 0.1vw + 0.9rem, 1.25rem);
  text-align: justify;
}

.top {
  /* These values specify the start and end states of the animation */
  100% {
    top: 20px;
  }
}

.button {
  @apply border border-white w-[200px]  flex justify-center py-2 lg:py-4 p-text hover:border-pri active:border-pri hover:text-pri active:text-pri transition-all duration-300 font-medium;
}
.screen-center {
  @apply container w-[90%] mx-auto;
}
input::placeholder {
  color: rgba(30, 30, 30, 0.57);
  font-weight: 300;
}

.input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -khtml-border-radius: 0;
}
select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -khtml-border-radius: 0;
}
.input {
  @apply w-full p-3 h-[30px] lg:h-[50px]  rounded-none outline-none border-pri_dark bg-transparent border;
}
/*Timer animation*/
.digit {
  display: inline-block;
  font-size: 20px;
  height: 18px;
  line-height: 1;
}
.time-part-wrapper {
  display: flex;
  position: relative;
}
.time-part-wrapper:not(:last-child):after {
  content: ":";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: -30px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 20px;
  line-height: 0.9;
}
.time-part {
  width: 16px;
  text-align: center;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
}
.time-part .digit-wrapper {
  animation-timing-function: cubic-bezier(1, 0, 1, 0);
}

.time-part.seconds.tens .digit-wrapper {
  animation-name: seconds;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.time-part.seconds.ones .digit-wrapper {
  animation-name: seconds;
  animation-duration: 0.3s;
  animation-iteration-count: 10;
}

@keyframes seconds {
  0% {
    transform: translateY(-20px);
  }
  10% {
    transform: translateY(-40px);
  }
  20% {
    transform: translateY(-60px);
  }
  30% {
    transform: translateY(-80x);
  }
  40% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-120px);
  }
  60% {
    transform: translateY(-140px);
  }
  70% {
    transform: translateY(-160px);
  }
  80% {
    transform: translateY(-180px);
  }
  90% {
    transform: translateY(-200px);
  }
}

.wrapper {
  margin: 10px auto;
  position: relative;
}

/*Timer animation*/
