.hamburger {
  @apply origin-center inset-0 w-[38px] h-[3px] rounded bg-white transition duration-500;
}
.cancel {
  @apply origin-center inset-0 w-[38px] h-[3px]  bg-white transition duration-500;
}
.zindex2 {
  z-index: 2;
}
.zindex3 {
  z-index: 3;
}
.topLeft {
  opacity: 0.5;
  top: 5%;
  left: 5%;
}
.cornerLeft {
  opacity: 0.5;
  top: -180px;
  left: -180px;
}
.cornerRight {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: 10;
}
.bottomRight {
  bottom: 10%;
  right: 25%;
  opacity: 0.5;
}
.circle {
  width: clamp(15.625rem, 0.5vw + 0.3rem, 31.25rem);
  height: clamp(15.625rem, 0.5vw + 0.3rem, 31.25rem);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #f9b76e;
}
.circle2 {
  width: clamp(15.625rem, 10vw + 15rem, 23.75rem);
  height: clamp(15.625rem, 10vw + 15rem, 23.75rem);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #f9b76e;
}
.boxCard {
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.boxCard2 {
  box-shadow: -5px 5px 22px 14px rgba(0, 0, 0, 0.19);
}
.shadowCard {
  box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
  .circle {
    width: 250px;
    height: 250px;
  }
}
.navborder {
  border-left: 2px solid #ffffff;
  z-index: 5;
}
.filter {
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
}
.slideIn {
  animation: slide-in;
  animation-duration: 1000ms;
}
@keyframes slide-in {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
  }
}
