.shadowCard {
  box-shadow: -5px 5px 10px 3px rgba(0, 0, 0, 0.2);
}
.circle {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: #f9b76e;
}
@media only screen and (max-width: 600px) {
  .circle {
    width: 250px;
    height: 250px;
  }
}
.cornerRight {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: -1;
}
.slideIn {
  animation: slide-in;
  animation-duration: 1000ms;
}
@keyframes slide-in {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
  }
}
